body > * {
    text-align:center;
}


header {
    background-color:blue;
}


nav a, footer a  {
    width:25%;
    float:right;
    background-color:orange;
}

nav div {
    width:65%;
    float:right;
}


#home  {
    float:left;
}

img{
    width: 100%;
}

footer {
    background-color:purple;
}


.clearer {
    clear:both;
}


	

