



article{
display:none;
overflow : scroll;

}



section {
    margin: 2.5%;
}

section p{
    text-align: justify;
    padding-left: 5%;
}


article [class*="video"] {
    display : none;
}

@media(orientation: landscape){

article{
float: right;
}

#slider{
float:right;
}


}



/*a nice gray is the #aaa*/

/*blacks : #1c1c1c and #111*/