




section {
    width:40%;
    margin: 2.5%;
}

section p{
    text-align: justify;
    padding-left: 5%;
}


.video{
float: left;
padding-left: 2.5%;
}

.text{
float: right;
padding-right: 2.5%;
}


.video2{
float: right;
padding-right:2.5%;
}

.text2{
float: left;
padding-left:6%;
}

iframe {
width:90%;

}



/*tout en rapport avec le slider*/

#slider .tooltip {
display: none; /*ok i'm gonna need to reserch this..*/
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 75px;
   left: -320px;
}


#slider {
width:100%;
position : relative;
}



#slider img {
position : absolute;
top : 0;
left : 0;
width : 100%;
}


#slider #first {
position: static;
margin :0;
padding:0;
/*cette regle permet au contenu qui suit le slider de s'afficher en dessous. attention : la plus grande image doit etre #first !!*/
}

/*appel aux animations*/

#first {
   -webkit-animation: cycle 18s linear infinite;
   -moz-animation: cycle 18s linear infinite;
   animation: cycle 18s linear infinite;
}

#second {
   -webkit-animation: cycletwo 18s linear infinite;
   -moz-animation: cycletwo 18s linear infinite;
   animation: cycletwo 18s linear infinite;
}

#third {
   -webkit-animation: cyclethree 15s linear infinite;
   -moz-animation: cyclethree 15s linear infinite;
   animation: cyclethree 15s linear infinite;
}



/* ANIMATION */
/**et oui, en trois fois pour que ca marche avec plein de navigateurs !!/

@-webkit-keyframes cycle {
0%  {opacity: 1; }

   6.6% {opacity: 1;}

   20% {opacity: 1;}

   26.5% {opacity: 0;}

   28% {opacity: 0;}

   93.7% {opacity: 0;}

   100%{opacity: 1;}

}


@-webkit-keyframes cycletwo {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   26.5% {opacity: 1;}

   53% {opacity: 1;}

   59% { opacity: 0;}

}

@-webkit-keyframes cyclethree {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   53% {opacity: 0;}

   59% { opacity: 1;}
   
   93.7% { opacity: 1;}
   
   100% {opacity: 0;}


}



@-moz-keyframes cycle {
0%  {opacity: 1; }

   6.6% {opacity: 1;}

   20% {opacity: 1;}

   26.5% {opacity: 0;}

   28% {opacity: 0;}

   93.7% {opacity: 0;}

   100%{opacity: 1;}

}


@-moz-keyframes cycletwo {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   26.5% {opacity: 1;}

   53% {opacity: 1;}

   59% { opacity: 0;}

}

@-moz-keyframes cyclethree {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   53% {opacity: 0;}

   59% { opacity: 1;}
   
   93.7% { opacity: 1;}
   
   100% {opacity: 0;}


}



keyframes cycle {
0%  {opacity: 1; }

   6.6% {opacity: 1;}

   20% {opacity: 1;}

   26.5% {opacity: 0;}

   28% {opacity: 0;}

   93.7% {opacity: 0;}

   100%{opacity: 1;}

}


keyframes cycletwo {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   26.5% {opacity: 1;}

   53% {opacity: 1;}

   59% { opacity: 0;}

}

keyframes cyclethree {
    0%  {opacity: 0; }

   20% {opacity: 0;}

   53% {opacity: 0;}

   59% { opacity: 1;}
   
   93.7% { opacity: 1;}
   
   100% {opacity: 0;}


}
