#slider{
   /*position: relative;*/
height: 90%;
width:100%;
}

ul {
list-style: none;
padding: 0;
}

img {
width: 100%;
position: absolute;
}


#mask{
   overflow: hidden;
   width :100%;
   height: 650px;/* this is a big problem...*/
}



#first {
   -webkit-animation: cycle 15s linear infinite;
}

#second {
   -webkit-animation: cycletwo 15s linear infinite;
}

#third {
   -webkit-animation: cyclethree 15s linear infinite;
}



/* ANIMATION */

@-webkit-keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   6.6% { top: 0px; } /* Original Position :4%*/
   20% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image was visible */
   26.5% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   28% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   93.7% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}
/*i'll need to get better at the percentages...*/

@-webkit-keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Original Position */
   20% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   26.5% { top: 0px; opacity: 1; }
   33% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   53% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   59% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   60% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
    53%{ top: -325px; opacity: 0; }
   59% { top: 0px; opacity: 1; }
/*   59% { top: 0px; opacity: 1; }*/
   92% { top: 0px; opacity: 1; }
   93.7% { top: 325px; opacity: 0; z-index: 0; }
  /* 99% { top: -325px; opacity: 0; z-index: -1; }*/
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
