#slider{
float:right;
}



article{
display:none;
overflow : scroll;
float: right;
}



section {
    margin: 2.5%;
}

section p{
    text-align: justify;
    padding-left: 5%;
}


article [class*="video"] {
    display : none;
}




/*a nice gray is the #aaa*/

/*blacks : #1c1c1c and #111*/