article{
display:none;
}

section {
    width:40%;
    margin: 2.5%;
}

section p{
    text-align: justify;
    padding-left: 5%;
}


.video{
    float: left;
    padding-left: 2.5%;
}

.text{
    float: right;
    padding-right: 2.5%;
}


.video2{
    float: right;
    padding-right:2.5%;
}

.text2{
    float: left;
    padding-left:6%;
}

iframe {
    width:90%;
    
}

#slider{
    position : relative;
}

#first{
    position: absolute;
    top:0;
}


#next {
position : absolute;
right: 0;
top :30%;
}

#previous{
    position: absolute;

left: 0;
top: 30%;
}