aside{
float: right;
width: 18%;
margin: 2%;
background-color: #e7e7da;

}

aside>h2>p{
margin:3%;
}

article{
width: 70%;
}

#content{
    margin: 1%;
    width: 75%;
    height: 540px;
    overflow: auto;
}

iframe {
    height: 60 px;
}

article>section{
    float: left;
    margin-top: 5%;
    width: 80%;
}

.button{    
width: 15%;
margin: 0 3% 1% 1% ;
padding: 0.25%;
display: inline-block;
}