aside{
float: right;
width: 15%;
margin: 2%;
background-color: #e7e7da;

}

<<<<<<< HEAD

header{
    background-color: #33cc33;
    top:0px;
    left:0px;
    font-family: Flex, sans-serif;
    position: fixed;
    width:100%;
    margin: 2px;
=======
aside>h2>p{
margin:3%;
>>>>>>> FETCH_HEAD
}

#content{
    margin: 1%;
    width: 75%;
    height: 540px;
    overflow: auto;
}

iframe {
    float: left;
    height: 60 px;
    width: 50%;
    margin: 1% 0 1% 26%;
}

article>section{
    float: left;
    margin-top: 5%;
    width: 80%;
}

<<<<<<< HEAD

.button{
    position: fixed;
    top: 10%;
    width: 35%;
    right: 5%;
=======
.button{    
float: right;
width: 10%;
margin: 0 3% 1% 1% ;
padding: 0.25%;
display: inline-block;
>>>>>>> FETCH_HEAD
}