/*mise en place des polices de la page.*/

@font-face{
    font-family:Flex;
    src: url(../fonts/FlexDisplay.otf);
}

@font-face{
    font-family: Quicksand;
    src: url(../fonts/quicksand/Quicksand-Light.otf);
}

@font-face{
    font-family: Junction;
    src: url(../fonts/junction-master/Junction-light.otf);
}


article {
    font-family: Junction, sans-serif;
}



p {
    font-family: Quicksand, sans-serif;
}



/*Les elements de style propre au haut de page*/
header{
    background-color: #33cc33;
    font-family: Flex, sans-serif;
    position: relative;
    margin-bottom : 4px;
}

header img{
    height:100%;
}


#left {
    float:left;
    width : 35%;
}
.fancy_dropdown_menu {
    float : right;
    width:60%;
}

a[title=home] img {
    position : absolute;
    left: 0;
    top: 0;
    width: 65px;
}

/*menu du haut*/
/*formats généraux*/
nav a {
    padding:5px;
    display:block;
    text-decoration: none;
    text-align: center;
    color:white;
    font: 15px/45px Junction, sans-serif;
    
}

.fancy_dropdown_menu ul {
    list-style:none; /* removes the bullets */
    padding: 0;
    margin:0;
    z-index: 1;
}


/*premier niveau*/
.fancy_dropdown_menu > ul > li {
    float:left;
    width:33%;
    border-left:1px solid white;
    position:relative;
}

/*deuxieme niveau*/
.fancy_dropdown_menu > ul > li > ul {
    display: none;
    position:absolute;
    width:100%; /*comme ca les sous menus font la meme taille que le parent ;)*/
}

/*et comme on sait sur quel truc on va cliquer.*/
.fancy_dropdown_menu > ul > li:hover {
    background: #2db34a;
}


/*dans les sous menus aussi !*/

.fancy_dropdown_menu > ul > li > ul > li:hover {
    background: #2db34a;
}

/*rendre visible le sous menu*/
.fancy_dropdown_menu > ul > li:hover ul {
    display :block;
}

/* et quelques couleurs en plus pour finir */
.fancy_dropdown_menu > ul > li > ul > li {
    background: red;
}





/*les bouttons*/
.button{
    width: 50%;
    float: right;
    background: #00b7ea;
    border-radius: 2px;
}

.button a {
    text-align: center;
    display: block;
    height: 45px;
    color: white;
    font: 17px/50px Junction, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}


footer a  {
    width:33%;
    padding: 5px 0;
    float:right;
    text-align: center;
    color: #555;
    text-decoration:none;
    display: block;
    height: 45px;
    font: 17px/50px Junction, sans-serif;
}


footer {
    background-color: #ffcc00;
    width: 100%;
}

.clearer {
    clear:both;
    margin:0;
    padding:0;
}

