body > * {
    text-align:center;
}

/*Les elements de style propre au haut de page*/
header {
    background-color:blue;
       height: 10%;
}


nav a, footer a  {
    width:25%;
    float:right;
    background-color:orange;
}

nav div {
    width:65%;
    float:right;
}


a[title=home]  {
    float:left;
}

/*les elements de style propre aux images deroulantes*/


footer {
    background-color:purple;
}


.clearer {
    clear:both;
}


	

