    header {
        background-color : #aaa;
    width :100%;
    }
    
    nav a {
        padding:5px;
        text-decoration: none;
        color:white;
        font: 15px/45px Junction, sans-serif;
        display: block;
    }
    
    nav > ul {
        padding: 0;
        margin: 0;
    }
    
    /*deuxieme niveau*/
    nav > ul > li > ul {
        background-color : #acacac;
	
    }
    
    
    #asideNav {

        background-color : #757575;
    overflow : scroll;
    }
    
@media(orientation: landscape){


 #asideNav {
        float:left;
        width : 30%;
}



}

@media(orientation: portrait){


 #asideNav {


    display:none;

}


footer {
overflow : hidden;
}


}