/*mise en place des polices de la page.*/

@font-face{
font-family:Flex;
src: url(../fonts/FlexDisplay.otf);
}

@font-face{
font-family: Quicksand;
src: url(../fonts/quicksand/Quicksand-Light.otf);
}

@font-face{
font-family: Junction;
src: url(../fonts/junction-master/Junction-light.otf);
}


article {
font-family: Junction, sans-serif;
}



p {
font-family: Quicksand, sans-serif;
}




/*Les elements de style propre au haut de page*/
header, footer {
    background-color: #33cc33;
    font-family: Flex, sans serif;
}




#left {
    float:left;
    width : 10%;
}
.fancy_dropdown_menu {
    float : right;
    width:80%;
}

a[title=home] img {
    width: 20px;
}

/*menu du haut*/
/*formats généraux*/
.fancy_dropdown_menu a { 
   padding:20px;
   display:block;
   text-decoration: none;
   text-align: center;
   color:white; /* applying hardly any visual styling to the anchors makes sure that the hover states work in all cases */
}

.fancy_dropdown_menu ul {
   list-style:none; /* removes the bullets */
   overflow:visible; /* makes sure the dropdown can be seen */
   padding-left: 0;
   z-index: 1;
}


/*premier niveau*/
.fancy_dropdown_menu > ul > li {
   float:left;
   width:33%;
   background:gray;
   border-right:1px solid white;
   position:relative;
   overflow:visible;
}

/*deuxieme niveau*/
.fancy_dropdown_menu > ul > li > ul {
   max-height: 0; /* hides the drop-down menu */
display: none;
   /*overflow: hidden; */
    position:absolute;
   width:100%; /*comme ca les sous menus font la meme taille que le parent ;)*/
}

/*et comme on sait sur quel truc on va cliquer.*/
.fancy_dropdown_menu > ul > li:hover {
   background: black;
}


/*dans les sous menus aussi !*/

.fancy_dropdown_menu > ul > li > ul > li:hover {
   background: orange;
}

/*rendre visible le sous menu*/
.fancy_dropdown_menu > ul > li:hover ul {
display :block;
}

/* et quelques couleurs en plus pour finir */
.fancy_dropdown_menu > ul > li > ul > li {
   background: red;
}





/*les bouttons*/
.button{
    width: 50%;
    float: right;
    background: #00b7ea;
    border-radius: 2px;
}

.button a {
  text-align: center;/* replaces: padding-left: 2em;*/
  display: block;
  height: 45px;
  color: white;
  font: 17px/50px Junction, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}


footer a  {
    width:25%;
    float:right;
    background-color:orange;
}




.clearer {
    clear:both;
    margin:0;
    padding:0;
}


	

