
body{
text-align: center;
}


/*menu du haut*/

nav > ul li {
    width:30%;
    background-color:orange;
    float : right;
    margin : 1%;
}


li{
list-style : none;
}


nav li > ul {
    display:none;
}

li:hover > ul {
    position: absolute;
    padding-left: 0;
    width : inherit;

    display: block; /*now i need to fix the disply properties..*/

}

ul li ul li {
    background-color: #ff0011;
    display : block;
    width: 100%;
}




.clearer {
    clear:both;
    margin:0;
    padding:0;
}


	
